@import "./colors";

.card-box {
  display: flex;
  max-width: 100rem;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.orange {
  background-color: $bright-orange;
}

.cyan {
  background-color: $dark-cyan;
}

.dark-cyan {
  background-color: $very-dark-cyan;
}

@media only screen and (max-width: 53.75em) {
  .card-box {
    flex-direction: column;
    max-width: 50rem;
  }
}
