@import "./colors";

.card {
  font-size: 1.5rem;
  padding: 5rem;

  &-icon {
    margin-bottom: 3rem;
  }

  &-heading {
    color: $very-light-gray;
    margin-bottom: 2.5rem;
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
    font-size: 4rem;
  }

  &-description {
    line-height: 1.5;
    padding-right: 2.7rem;
    margin-bottom: 7.5rem;
  }

  &-btn {
    cursor: pointer;
    border: 2px solid $very-light-gray;
    font-family: inherit;
    background-color: $very-light-gray;
    padding: 1.5rem 3rem;
    border-radius: 100rem;
    transition: all 0.2s;

    &:hover {
      background-color: transparent;
      color: $very-light-gray;
    }
  }
}

.btn-orange {
  color: $bright-orange;
}

.btn-cyan {
  color: $dark-cyan;
}

.btn-dark-cyan {
  color: $very-dark-cyan;
}

@media only screen and (max-width: 53.75em) {
  .card {
    // padding: 2.5rem 4rem;

    &-description {
      margin-bottom: 6rem;
    }
  }
}
