* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
